<section id='forgot-password'>
  <div class='my-5'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h2 class='text-center'>Forgot your password?</h2>

      <%= render "devise/shared/error_messages", resource: resource, class:'fs-6 text-danger' %>

      <div class="field mb-3">
        <%= f.label :email, class:'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>

      <div class="actions d-grid mb-3">
        <%= f.submit "Send me reset password instructions", class:'btn btn-outline-primary' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  <div>
</section>