<section class="container d-flex justify-content-center">
<div class="container p-5 d-flex  flex-column w-50">
 <h1 class="text-center mb-3"> Add new food </h1>
 <div class="border border-3 p-3 ">
 <%= form_with model:@new_food, url: user_foods_path do |form| %>
    <div class="mb-3  d-flex flex-column ">
    <label class ="form-label">Food name</label>
    <%= form.text_field :name %>
    </div>

    
    <div class="mb-3  d-flex flex-column ">
    <label class="form-label"> Measurement_unit</label>
    <%= form.text_field :measurement_unit %>
    </div>

    <div class="mb-3  d-flex flex-column">
    <label class="form-label">Price</label>
    <%= form.text_field :price %>
    </div>

    <div class="mb-3  d-flex flex-column">
    <label class="form-label w">Quantity</label>
    <%= form.text_field :quantity %>
    </div>
    <div>
    <%= form.submit 'Create Food', class: 'btn btn-gradient btn-primary block' %>
    </div>

    <%end%>
 </div>
 
</div>
</section>